<section class="row py-1">
            <div class="card w-100">
                <div class="card-header d-flex justify-content-end align-items-end">
                    <h6>Posted by {{user.user_name}} On {{format_date createdAt}}</h6>
                </div>
                <div class="card-body">
                    {{body}}
                </div>
            </div>
        </section>