<div class="row">
    <h2>Log In</h2>
    <form class="col-12" id="logInForm">
        <div class="form-group">
            <label for="logUsername">User Name:</label>
            <input type="text" class="form-control" id="logUsername">
        </div>
        <div class="form-group">
            <label for="logPassword">Password:</label>
            <input type="password" class="form-control" id="logPassword">
        </div>
        <button type="submit" class="btn btn-dark w-100">Log In</button>
    </form>
</div>
<br><br>
<h2>Or</h2>
<br>
<br>
<div class="row">
    <h2>Sign Up</h2>
    <form class="col-12"  id="signUpForm">
        <div class="form-group">
            <label for="signUsername">User Name:</label>
            <input type="text" class="form-control" id="signUsername">
        </div>
        <div class="form-group">
            <label for="signPassword">Password:</label>
            <input type="password" class="form-control" id="signPassword">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Re-enter Password:</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-dark w-100">Sign Up</button>
    </form>
</div>