<main class="container">
    <div class="row">
        <form class=" col-12 py-3" id='newPostForm'>
            <div class="form-group">
                <label for="title">Post Title</label>
                <input type="text" class="form-control" id="title">
                <label for="body">Post Body</label>
                <textarea type="text" class="form-control" id="body" rows='10'></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Submit</button>
        </form>
    </div>

</main>

<script src="/js/newPost.js"></script>